html, body{
    padding:0px;
    margin:0px;
    width: 100%;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    flex-wrap:wrap;
}
:root{
--mainColor:#54D1BB;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.green-text {color:#54D1BB}

.white-text {color:#FFFFFF}

.blue-text{color:#2F4076}

.yellow-text{color:#F1C205}

.purple-text{color:#3D1E69}

.grey-text{color:#838282}

/*  MENU */
body{
    display:block;
}
.menu{
    padding:100px 150px;
    width:100%;
    background:linear-gradient(180deg, #2f4076 0%, rgba(47, 64, 118, 0.84) 100%);
    margin-top:0%;
}

.barraDeCima{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.navbar{
    display:flex;
    align-items: center;
    margin: 0px 50px;
}
.botao{
    color:#54D1BB;
    text-decoration: none;
    margin:0px 50px;
}
.botao:hover{
    color:white;
}
.Profile{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.imagemProfile{
    padding:20px 0x;
    margin:100px 100px 0px;
    border-radius: 50%;
    width:250px;
    height:250px;
}
.green{
    color:#54D1BB;
}
.tituloProfile{
    margin:150px 0px;
    font-size: 35px;
}

.titulo{
    padding:0px;
    margin:5px;
    color:#FFFFFF;
}

.Sobre{
    color:#FFFFFF;
    font-style: normal;
    font-weight: normal;
    margin:40px;
    font-size: 25px;
}
.main{
    justify-content: space-around;
}
.projeto{
    background-color: #E5E5E5;
}

.card{
    background-color: #FFFFFF;
    height:500px;
    width: 300px;
}

.projects{
    color: #2F4076;
    margin:0%;
    font-size:50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.cards{
    margin:25px;
    display:flex;
    justify-content:space-between;
}

.imagemCard{
    height:250px;
    width: 250px;
}